// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 $gray: #e1edf1;

 body {
   background: $gray; // Using this variable
 }

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
